@use 'src/app/styles/variables' as *;

$sidebar-width: 225px;
$sidebar-collapsed: 60px;

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f4f7f9;
}

.sidebar {
  width: $sidebar-width;
  background: #fff;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  inset: 0 auto 0 0;
  z-index: 50;
  border-right: 1px solid $border-disabled-color;

  &.collapsed {
    width: $sidebar-collapsed;
  }

  .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 74px;
    padding: 14px 12px;

    .brand {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $accent-color;
    }

    .toggleBtn {
      cursor: pointer;
    }
  }

  .logout {
    padding: 12px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  transition: margin-left 0.3s ease-in-out;

  &.expanded {
    margin-left: $sidebar-collapsed;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    border-bottom: 1px solid $border-disabled-color;

    .searchBar {
      position: relative;

      input {
        padding: 0.5rem 2rem;
        border-radius: 8px;
        border: 1px solid $border-disabled-color;
        outline: none;
        color: $primary-text-color;

        &:focus {
          border-color: $accent-color;
          box-shadow: 0 0 0 1px rgba($accent-color, 0.2);
        }
      }

      .searchIcon {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        color: gray;
      }
    }

    .headerActions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .productName {
        color: $light-primary-text-color;
        font-weight: 700;
      }

      .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #172433;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $bright-text-color;
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }
}

.nav {
  flex-grow: 1;
  padding: 12px;
}

.navItem {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  color: $primary-text-color;
  text-decoration: none;
  margin-top: 2px;

  svg {
    color: $icon-disabled-color;
    transition: color 0.2s;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background: rgba($accent-color, 0.08);
    color: $primary-text-color;

    svg {
      color: $icon-primary-color;
    }
  }

  &.active {
    background: #172433;
    color: $bright-text-color;

    svg {
      color: $bright-text-color;
    }
  }

  .label {
    flex: 1;
  }
}
